<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!-- 开启驼峰映射 ，为自定义的SQL语句服务-->
    <!--设置启用数据库字段下划线映射到java对象的驼峰式命名属性，默认为false-->
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>

    <environments default="druid">
        <environment id="druid">
            <transactionManager type="JDBC"/>
            <dataSource type="top.xiongmingcai.oa.datasource.DruidDataSourceFactory">
                <property name="driverClassName" value="com.mysql.cj.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost:3306/oa"/>
                <property name="username" value="root"/>
                <property name="password" value="NewPassword"/>
                <!--连接池初始化连接数-->
                <property name="initialSize" value="10"/>
                <!--连接池最大连接数-->
                <property name="maxActive" value="20"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="mappers/user.xml"/>
        <mapper resource="mappers/sysrbac.xml"/>
        <mapper resource="mappers/employee.xml"/>
        <mapper resource="mappers/depaetment.xml"/>
        <!-- <mapper class="top.xiongmingcai.dao.StudentDao"/>-->
        <!-- <package name="top.xiongmingcai.dao"/> -->
    </mappers>
</configuration>
